.btn {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding-inline: 24px;
  border-radius: var(--radius-full);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.btn.fill {
  color: var(--white);
  background-color: var(--primary-color-3);
  border: 2px solid var(--primary-color-3);
}
.btn.outline {
  color: var(--white);
  border: 2px solid var(--primary-color-2);
}

:is(.btn.fill, .btn.outline):is(:hover, :focus-visible) {
  background-color: var(--primary-color-2);
}
:is(.btn.fill, .btn.outline):active {
  background-color: var(--primary-color-1);
}
