/* Card */
.card {
  margin: auto;
}
.card .card-banner {
  overflow: hidden;
  border-radius: var(--radius-large);
  aspect-ratio: 1 / 1;
  position: relative;
  box-shadow: var(--shadow-sm);
}
.card-banner .icon-box.red {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;
}
.card-banner .icon-box.yellow {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
}

.card-banner .img-cover {
  transition: var(--transition-duration-smooth) var(--transition-easing-quick);
}
.card-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: var(--radius-large);
  background-color: hsla(0, 0%, 0%);
}
.card-banner:hover::after {
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
  opacity: 0.3;
}
.card-banner:hover .likeBox,
.likeBox.active {
  display: grid;
}

.card-banner:where(:hover, :focus-within) .img-cover {
  scale: 1.05;
  rotate: 2deg;
}

.card-content {
  display: grid;
  padding: 8px;
}
.card-content h3 {
  text-transform: capitalize;
}
.card .prices {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.card .user {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-block-start: 8px;
  border-top: 1px solid var(--black-200);
}
.card .user .avatar {
  border-radius: var(--radius-full);
  overflow: hidden;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.user-name {
  flex: 1;
  text-wrap: nowrap;
}
.card .user .pill {
  margin-left: auto;
}
