.mission .container,
.proces .container {
  display: grid;
  align-items: center;
  gap: 24px;
}
.mission .sectionTitle,
.proces .sectionTitle {
  text-align: start;
}
.mission .img-banner,
.proces .img-banner {
  overflow: hidden;
  border-radius: var(--radius-large);
  height: 393px;
}
.mission-centent,
.proces-centent {
  display: grid;
  gap: 8px;
  padding-block: 16px;
}

.proces .list,
.mission .list {
  display: grid;
  place-items: start;
  gap: 24px;
  padding-block: 24px;
}

.mission .list-item,
.proces .list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* responsive for larger than 929px screen  */

@media (min-width: 929px) {
  .mission .container,
  .proces .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .mission .img-banner,
  .proces .img-banner {
    height: 100%;
  }
  .mission .img-banner {
    order: -1;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1265px;
  }
}

/* responsive for larger than 1440px screen  */

@media (min-width: 1440px) {
}
