.recipes {
  display: grid;
  place-items: center;
  gap: 16px;
}

@media (min-width: 400px) {
  .recipes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .recipes {
    grid-template-columns: repeat(4, 1fr);
  }
}
