.testemony {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 16px;
  max-width: 996px;
  margin: auto;
}
.testemony h4 {
  position: relative;
}
.testemony h4::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  right: 0;
  bottom: 0;
  background-image: url(./assets/icons/fi-rr-quote-right.svg);
}
.testemony h4::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  top: -32px;
  rotate: 180deg;
  background-image: url(./assets/icons/fi-rr-quote-right.svg);
}
.testemony .rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
